In [10]:
import os
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

reading the data

In [31]:
stints_data = pd.read_csv('/Users/Tavo/code/stint/students-jobs/packages/mlmodel/mlmodel/datasets/test_interview_18022020.csv', index_col=0)

basic input analysis: <br>
- shape
- null values
- variable types
- etc

In [32]:
stints_data.head()

,Role,Part of chain?,Repeats?,Include Repeats From Other Business,Student Level,Stint Count Min,Stint Count Max,Screening Badge?,Screening Grade Min,Average Rating Minimum,Include new students?,Runner Count,Bar Back Count,KP Count,Waiter / Waitress Count,Runner 4/5* Count,Bar Back 4/5* Count,KP 4/5* Count,Waiter / Waitress 4/5* Count,Business
0,KP,No,Once in a while,NaN,All Levels,1,20.0,NaN,3.00,4.0,Yes if busy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Bar Back,No,Most of the time,NaN,All Levels,2,NaN,NaN,3.00,4.5,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1
2,Host/Hostess,No,Most of the time,NaN,All Levels,2,NaN,[Reiss],4.25,4.5,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,KP,No,Most of the time,NaN,All Levels,2,NaN,NaN,3.00,4.5,No,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2
4,Runner,No,Most of the time,NaN,All Levels,2,NaN,NaN,3.00,4.5,No,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2

In [33]:
stints_data.shape

(445, 20)

In [34]:
cols_ = [s.replace(' ', '_') for s in stints_data.columns]
cols_ = [s.replace('?', '') for s in cols_]
stints_data.columns = cols_

In [35]:
stints_data.isna().sum()

Role_                                    0
Part_of_chain                            0
Repeats                                  0
Include_Repeats_From_Other_Business    356
Student_Level_                           0
Stint_Count_Min_                         0
Stint_Count_Max                        297
Screening_Badge                        363
Screening_Grade_Min_                     0
Average_Rating_Minimum_                  0
Include_new_students                     0
Runner_Count_                          423
Bar_Back_Count_                        442
KP_Count_                              425
Waiter_/_Waitress_Count_               423
Runner_4/5*_Count_                     313
Bar_Back_4/5*_Count                    371
KP_4/5*_Count                          362
Waiter_/_Waitress_4/5*_Count           314
Business                                 0
dtype: int64

In [36]:
stints_data.dtypes

Role_                                   object
Part_of_chain                           object
Repeats                                 object
Include_Repeats_From_Other_Business     object
Student_Level_                          object
Stint_Count_Min_                         int64
Stint_Count_Max                        float64
Screening_Badge                         object
Screening_Grade_Min_                   float64
Average_Rating_Minimum_                float64
Include_new_students                    object
Runner_Count_                          float64
Bar_Back_Count_                        float64
KP_Count_                              float64
Waiter_/_Waitress_Count_               float64
Runner_4/5*_Count_                     float64
Bar_Back_4/5*_Count                    float64
KP_4/5*_Count                          float64
Waiter_/_Waitress_4/5*_Count           float64
Business                                 int64
dtype: object

In [39]:
stints_data.Repeats.unique()

array(['Once in a while', 'Most of the time', 'Never', 'Always',
       'Try repeats first', 'Only repeats'], dtype=object)

let's identify from now the possible categorical and numerical variables - handy later!

In [42]:
categorical = [
                'Role_', 
                'Part_of_chain', 
                'Repeats',
                'Include_Repeats_From_Other_Business', 
                'Student_Level_',
                'Screening_Badge',
                'Include_new_students', 
                'Business'
]

In [43]:
numerical = [
                'Stint_Count_Min_', 
                'Stint_Count_Max', 
                'Screening_Grade_Min_', 
                'Average_Rating_Minimum_',
                'Runner_Count_', 
                'Bar_Back_Count_',
                'KP_Count_', 
                'Waiter_/_Waitress_Count_', 
                'Runner_4/5*_Count_',
                'Bar_Back_4/5*_Count',
                'KP_4/5*_Count', 
                'Waiter_/_Waitress_4/5*_Count',
                'Business'
]